$!callback.setFileName($tool.append($tableInfo.name, "ServiceImpl.java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/service/impl"))

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import lombok.extern.slf4j.Slf4j;
{% if tableInfo.savePackageName %}
import {{ tableInfo.savePackageName }}.entity.{{ tableInfo.name }};
import {{ tableInfo.savePackageName }}.mapper.{{ tableInfo.name }}Mapper;
import {{ tableInfo.savePackageName }}.service.I{{ tableInfo.name }}Service;
{% endif %}
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;

/**
 * @Description: {{ tableInfo.comment }}服务实现类
 * @Author: {{ author }}
 * @Date: {{ currentTime }}
 */
@Slf4j
@Service
public class {{ tableInfo.name }}ServiceImpl extends ServiceImpl<{{ tableInfo.name }}Mapper, {{ tableInfo.name }}> implements I{{ tableInfo.name }}Service {

    @Autowired
    private {{ tableInfo.name }}Mapper {{ tableInfo.nameLowerFirst }}Mapper;

    @Override
    public IPage<{{ tableInfo.name }}> queryPage(Page<{{ tableInfo.name }}> page, {{ tableInfo.name }} {{ tableInfo.nameLowerFirst }}) {
        QueryWrapper<{{ tableInfo.name }}> queryWrapper = new QueryWrapper<>({{ tableInfo.nameLowerFirst }});
        return this.page(page, queryWrapper);
    }

    @Override
    public {{ tableInfo.name }} getById(String id) {
        return this.baseMapper.selectById(id);
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public boolean saveOne({{ tableInfo.name }} {{ tableInfo.nameLowerFirst }}) {
        return this.save({{ tableInfo.nameLowerFirst }});
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public boolean updateOne({{ tableInfo.name }} {{ tableInfo.nameLowerFirst }}) {
        return this.updateById({{ tableInfo.nameLowerFirst }});
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public boolean deleteById(String id) {
        return this.removeById(id);
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public boolean deleteBatch(List<String> ids) {
        return this.removeByIds(ids);
    }

}